# Identifiants API RTE (Consumption + Wholesale Market)
# À obtenir sur https://data.rte-france.com après création d'une application
RTE_CLIENT_ID=votre_client_id
RTE_CLIENT_SECRET=votre_client_secret
RTE_BASIC_AUTH=votre_base64_client_id_secret

